core
data

align
args
array
bell
cat
cat-escape
cat0
cat2
cat3
cat3
cat4
cat5
catdir
chgrp
chmod
chown
daytime
daytimed
dupread
echo
env
feof-bug
ferror-test
exec
getcperf
getctty
grep
grep2
grep3
head
head2
head3
head4
hello
httpd
httpd2
id
isatty
ln
logging
ls
mapwrite
mapwrite.data
memmon
mkdir
mv
namemax
progname
pwd
pwd2
pwd3
rm
rmdir
segv
sh1
sh2
show-vmmap
showenv
sig
sigqueue-test
sizeof
sleep
spawn
stat
strftime
strto
symlink
tail
tail2
timefmt
times
touch
trap
traverse
unsignedchar
user
wc-l-stdio
wc-l-syscall
wgrep
slice
slice2
